#account_page_background {
    margin-top: 5em;
    margin-left: 40em;
    position: fixed;
    height: auto;
    width: 30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#account_page_background > h1 {
    color: var(--text-color);
}

.account_text {
    margin: auto;
    font-size: 1.5em;
    color: var(--text-color);
}