:root {
  --text-color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
  display: flex;
  width: 100%;
  padding-right: 2em;
  background-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0));
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

.navbar-item {
  color: var(--text-color);
}

.navbar-item:link {
  text-decoration: none;
  color: var(--text-color);
}

.navbar-item:visited {
  text-decoration: none !important;
  color: var(--text-color);
}

.navbar-item:hover {
  text-decoration: underline;
}