.container-homepage {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  justify-content: center;
  background: url("../images/tree.jpg") no-repeat center bottom fixed; 
  background-size: cover;
}

.search-bar {
  /* color: var(--text-color); */
  font-size: 2em;
  height: 1.75em;
  width: 20em;
  margin-top: 45vh;
  padding: .5em;
}

@media only screen and (max-width: 800px) {
  .search-bar {
    width: 10em
  }
}