.container-homepage {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.search-bar {
  /* color: var(--text-color); */
  font-size: 2em;
  height: 1.75em;
  width: 20em;
  margin-top: 45vh;
  padding: .5em;
}

@media only screen and (max-width: 800px) {
  .search-bar {
    width: 10em
  }
}