.bgr-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../images/lion.jpg") no-repeat center bottom fixed; 
  background-size: cover;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 45vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  margin: 9em;
  padding: .5em 8em;
  align-items: center;
  color: var(--text-color);
}

.container > h1 {
  font-size: 3em;
  margin-bottom: calc(30% / 2);
}

.container-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  align-items: center;
}

.bar {
  height: 2em;
  width: 60%;
  font-size: 1.3em;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.445);
  color: var(--text-color);
  border: none;
  border-radius: 1em;
  margin-top: auto;
}

.bar:focus {
  outline: none;
}

.form-button {
  width: max-content;
  font-size: 1.2em;
}

.link-text:link {
  text-decoration: none;
  color: var(--text-color);
}

.link-text:visited {
  text-decoration: none !important;
  color: var(--text-color);
}

.link-text:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1553px) {
  .bar {
    font-size: 1em;
  }

  .container {
    padding: 0em 0em;
  }
}

@media only screen and (max-width: 813px) {
  .bgr-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container > h1 {
    font-size: 2em;
    margin-bottom: 40%;
  }

  .container {
    width: 60vw;
    padding: 0em 0em;
    margin: 0em;
  }

  .bar {
    width: 80%;
    font-size: .7em;
  }

  .form-button {
    font-size: .9em;
  }

  .container > p {
    font-size: 0.7em;
  }

  .link-text:link {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 813px) and (max-height: 850px) {
  .container h1 {
    margin-bottom: 20%;
  }
}

@media only screen and (max-height: 420px) {
  .container-form {
    height: 100%;
    gap: 0em;
  }

  .container h1 {
    margin-bottom: 0em;
  }
}