.recommend_layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.textbox {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 250px;
    height: 150px;
    text-align: center;
    
}

.middle_boxes {
    padding: 0px 100px;
}

.textbox {
    position: relative;
    bottom: 200px;
    left: 125px;
}



.upper_and_lower_boxes img{
    padding: 0px 100px;
    width: 500px;
    height: 200px;
}

.middle_boxes img{
    padding: 0px 100px;
    width: 500px;
    height: 200px;
}

